statuscake_api_token                     = "000-11-222-3333-44-555"
statuscake_check_interval                = 86400 # check every 24 hours
statuscake_monitored_resource_addresses  = ["https://www.my-website-to-check.education.gov.uk"]
statuscake_alert_at                      = [ # days to alert on
  30, 14, 7
]
statuscake_notify_on_reminder            = true
statuscake_notify_on_expiry              = true
statuscake_notify_on_broken              = false
statuscake_notify_on_mixed               = false
statuscake_contact_group_name            = "My Contact Group"
statuscake_contact_group_email_addresses = [
  "my-first-responder@email.com",
  "my-second-responder@email.com",
]
statuscake_contact_group_integrations    = [
  "000000" # source this from StatusCake
]
